[2015-12-15 05:37] rohbotics opened #4 "High CPU Usage on RPi"
There is a high cpu usage for the motor_node process according to htop on the Raspberry Pi2 running Ubuntu 14.04, ROS Indigo.

[2016-01-18 08:11] rohbotics commented on #4
The CPU usage seems to be coming mostly from locking.
Looking into further reducing unnecessary locking.

[2016-02-14 19:16] rohbotics opened #5 "Unable to do tf lookups on Magni"

[2016-02-14 19:21] rohbotics commented on #4
Some numbers from perf (0.3.2)
17.43% motor_node [kernel.kallsyms] [k] _raw_spin_unlock_irq
11.17% motor_node [kernel.kallsyms] [k] _raw_spin_unlock_irqrestore

[2016-03-09 02:21] rohbotics commented on #4
When the issue was opened the CPU usage according to htop was 25-28%, we are now down to 13-16% CPU usage.

This is reasonable enough for now

[2016-03-09 02:21] #4 closed, assigned to nobody

[2016-03-09 06:35] #5 closed, assigned to rohbotics

[2016-11-23 02:25] rohbotics opened #9 "Investigate issue of robot going backward on startup"
@jim-v Can you add more detail of what is going on?

[2016-11-23 02:41] jim-v commented on #9
On kinetic, the wheels go backwards when running the motor node.   This behavior is new and started after an apt-get update.   The same hardware works when driven with indigo.

Added some debugging in kinetic-debug branch.

And the following output is produced (there is no /cmd_vel):

[INFO] [1479868831.674785]: Started controllers: ubiquity_velocity_controller, ubiquity_joint_publisher
[ INFO] [1

[2016-11-23 02:44] jim-v commented on #9
Committed debug changes to kinetic-debug branch

[2016-11-23 02:45] rohbotics commented on #9
Use a gist to hold code, it looks a lot nicer

https://gist.github.com/

[2016-11-23 03:01] rohbotics commented on #9
Can you try building ros-controllers from source?

https://github.com/ros-controls/ros_controllers

[2016-11-23 03:04] rohbotics opened #10 "Timestamp odom messages"
This should ideally be implemented in the firmware level, but the node needs to support it.

First step should be timestamping in the MotorSerial class.

[2016-11-23 03:19] rohbotics opened #11 "Odom fudging factor"
https://github.com/UbiquityRobotics/ubiquity_motor/blob/motor_node_tests/test/motor_node_test.cc#L41

Why is this needed to work? Why 2.7?

[2016-11-23 04:02] jim-v commented on #9
It still seems wrong built against kinetic-devel branch of ros_controllers:

[ERROR] [1479873691.189472100]: velocity_command -6.600985 rad/s -13.103448 rad/s
[ERROR] [1479873691.189518522]: SPEEDS -54 -107
[ INFO] [1479873691.193760741]: out 7e 3b 2a ff ca ff 95 3d

[2016-11-23 04:49] rohbotics commented on #9
Can you try adding debug prints near this line
https://github.com/ros-controls/ros_controllers/blob/kinetic-devel/diff_drive_controller/src/diff_drive_controller.cpp#L312 ?

[2016-11-23 05:02] jim-v commented on #9
Added:

        ROS_ERROR("curr_cmd: %f %f", curr_cmd.lin, curr_cmd.ang);

Result:

    [ERROR] [1479877281.274923096]: curr_cmd: 0.000000 0.000000
    [ERROR] [1479877281.275014950]: velocity_command -6.600985 rad/s -13.103448 rad/s
    [ERROR] [1479877281.275050369]: SPEEDS -54 -107
    [ INFO] [1479877281.278006869]: out 7e 3b 2a ff ca ff 95 3d

[2016-11-23 05:05] jim-v commented on #9
Also, verified that curr_cmd does change as expected when `teleop_twist_keyboard.py` is run.

[2016-11-23 05:45] rohbotics commented on #9
Something is acting really screwy between the diff_drive_controller and motor_hardware.

What are the warnings you are getting?

[2016-11-23 06:07] jim-v commented on #9
[code]

[2016-11-26 17:47] jim-v opened #12 "Publish power status messages"
Finish figuring out relationship between ADC readings and currents and put into the CPP

[2016-11-26 17:48] jim-v opened #13 "Exit with error if firmware version message not received"
This would save time diagnosing a dead PSOC or broken serial connection.

[2016-11-28 08:03] jim-v commented on #9
The problem occurs on:
Linux igloo1 4.4.0-47-generic #68-Ubuntu SMP Wed Oct 26 19:39:52 UTC 2016 x86_64 x86_64 x86_64 GNU/Linux
But not on:
Linux fxpi301 4.1.19-v7+ #858 SMP Tue Mar 15 15:56:00 GMT 2016 armv7l armv7l armv7l GNU/Linux

[2016-12-09 19:39] jim-v commented on #13
It works as expected: normal behavior when serial line is connected, exception if not.

[2016-12-09 19:39] #13 closed, assigned to rohbotics

[2016-12-11 01:40] rohbotics opened #15 "Tests hanging on Travis"
I am not sure why

[2016-12-18 04:03] rohbotics commented on #15
Fixed in 5923b22

[2016-12-18 04:03] #15 closed, assigned to nobody

[2016-12-24 19:04] rohbotics opened #16 "Fix flaky tests"
Get the tests to be less flake flake

[2016-12-31 20:23] rohbotics commented on #9
I can't replicate this issue on my magni,
it could have been fixed upstream.

[2017-01-07 22:40] rohbotics opened #18 "Send a reset message to init communication on start up"

[2017-01-16 01:59] #16 closed, assigned to rohbotics

[2017-01-16 19:08] jim-v commented on #18
Should also ignore nonsense on serial line before the hello.

[2017-04-20 13:55] jim-v opened #21 "Don't print error messages at startup"
We should suppress the first few of these messages to avoid confusing the user:

ERROR] [1492649264.180968214]: REJECT: ? ??
[ERROR] [1492649264.181731857]: REJECT: ??
[ERROR] [1492649264.182024565]: REJECT: ??
[ERROR] [1492649264.182270657]: REJECT: ?
[ERROR] [1492649264.182507271]: REJECT:
[ERROR] [1492649264.183878308]: REJECT: ?
[ERROR] [1492649264.184854712]: REJECT:
[ERROR] [1492649264.18526

[2017-05-02 14:15] #9 closed, assigned to jim-v

[2017-05-03 01:26] #21 closed, assigned to nobody

[2017-05-06 17:02] jim-v opened #24 "Remove debug topics"

[2017-05-06 19:05] #24 closed, assigned to jim-v

[2017-05-06 21:05] rohbotics opened #26 "0.5.2 Release"
We need to do a new release with the bug fixes

[2017-05-06 21:18] #26 closed, assigned to rohbotics

[2017-05-09 13:56] rohbotics commented on #12
We should publish as a  sensor_msgs/BatteryState

[2017-08-17 15:18] anfederman commented on #11
I tested the new image with the RBX1 odom_out_and_back script.  seemed to work +- 2% with an olde Magni on a bumpy floor.

[2017-08-20 22:07] jim-v opened #28 "No documentation on params, topics, etc."
@rohbotics, I'm happy to write something if you would like.

[2017-08-26 02:53] #12 closed, assigned to rohbotics, jim-v

[2017-11-11 19:35] jim-v opened #30 "Robot moves when system time changes"
To reproduce:

put robot on blocks

```roslaunch magni_bringup nbase.launch```

Change the date:

```sudo date -s @1210024720```

Wheels spin

[2017-11-12 17:20] #30 closed, assigned to jim-v

[2017-12-23 18:21] #28 closed, assigned to jim-v

[2018-01-12 01:29] rohbotics opened #33 "Serial Protocol Spec"
Write up the spec in a markdown file

[2018-01-13 00:52] #33 closed, assigned to rohbotics

[2018-01-15 17:31] rohbotics opened #34 "Script to read Robot ID"
https://github.com/UbiquityRobotics/ubiquity_main/issues/84

### Spec

If robot is detect as magni or loki, set the return code to 0, and print `magni` or `loki` to stdout.

If no robot detected set return code to 1 and exit.
If unknown robot detected set return code to 2 and print the id (ASCII decimal) to stdout.

All other output (debugging/warnings/errors) must be sent on stderr.

@waynegramli

[2018-01-15 19:56] waynegramlich commented on #34
That will work, but I think we should be thinking ahead.

I would propose that it be done with command line options:
* `-a` `--all`: Print out all options.
* `-r` `--robot`: Print out robot platform (e.g. `loki`, `magni`, `none`)
* `-f` `--firmware`: Print out firmware revision
* `-p` `--pcb`: Print out the PCB revision
* `v`` `--verbose`: Print out debugging information.
It is not necessary to fi

[2018-01-15 20:09] rohbotics commented on #34
Those seem like good forward-thinking additions.

I would still have a non-zero return code for robot platform being `none`.
That way a bash script can do something like:
[code]

[2018-01-15 20:20] waynegramlich commented on #34
Agreed.

[2018-01-19 01:09] #34 closed, assigned to rohbotics

[2018-01-27 21:05] jim-v commented on #11
Tested on V5 hardware.  Linear morion of 1.15m (measured by ruler) corresponded to 1.148 reported by /odom.

[2018-01-27 23:51] jim-v commented on #11
Wheel separation .3195m

[2018-02-25 19:40] rohbotics opened #37 "Make probe robot catch unexpected aruguments"
DOD: unexpected args like `rosrun ubiquity_motor probe_robot -X` print the help message.

[2018-05-29 21:38] anfederman opened #38 "Motor Node error on Raspberry Pi3B+"
terminate called after throwing an instance of 'std::runtime_error'
  what():  Firmware not reporting its version
[motor_node-3] process has died [pid 3126, exit code -6, cmd /home/ubuntu/catkin_ws/devel/lib/ubiquity_motor/motor_node /ubiquity_velocity_controller/cmd_vel:=/cmd_vel /ubiquity_velocity_controller/odom:=/odom __name:=motor_node __log:=/home/ubuntu/.ros/log/88bca176-6387-11e8-87fc-994e

[2018-05-30 00:29] jim-v commented on #38
It may be trying to communicate over the wrong serial device.

Can you send the output of `lsusb` and `ls /dev/tty*`

[2018-05-30 07:08] chrissunny94 opened #39 "Firmware not reporting its version (Probably an old board)"
[code]

[2018-05-30 07:09] chrissunny94 commented on #39
How do update the firmware of the board to the latest ?

I got the above error when trying to compile it from the latest release on github .

Afterwards i tried installing the from the binaries (apt install ..) , the node ran without any errors. But i noticed that its not publishing any value (not even battery_status ).

[2018-05-30 12:48] chrissunny94 commented on #39
Resolved , it the serial address was wrong .

[2018-05-30 12:48] #39 closed, assigned to nobody

[2018-05-30 12:50] chrissunny94 opened #40 "DESERIALIZATION ERROR! - 2"
`terminate called after throwing an instance of 'serial::SerialException'
  what():  SerialException device reports readiness to read but returned no data (device disconnected?) failed.`

[2018-05-30 13:17] chrissunny94 commented on #40
[code]

I get this when i change the baud rate in $(find magni_bringup)/param/base.yaml

[2018-05-30 14:58] chrissunny94 commented on #40
[code]

This problem persists even after doing

`sudo chmod 777 /dev/ttyS0`

The output for

`ls /dev/tty*`

[code]

[2018-05-30 16:50] jim-v commented on #40
I'm not sure what hardware you have, but the device that is connected to the motor controller is more likely to be `/dev/ttyAMA0`.  As for the `chmod`, read and write permission (666) should be sufficient.  It's not harmful to make a device executable, but it has no effect.

[2018-05-31 00:42] chrissunny94 commented on #40
I changed it to
`/dev/ttyAMA0`

gave the necessary permission , `sudo chmod 666 /dev/ttyAM0`

Now i am getting
`terminate called after throwing an instance of 'std::runtime_error'
  what():  Firmware not reporting its version
`
 ** Is it because of Baud rate issues? , I have set it to 38400 . **

[2018-05-31 00:45] rohbotics commented on #40
How are you launching?
Is this on a Raspberry Pi running our image?

Is the Pi plugged in to the motor controller, and do you see leds on the
motor controller?

Hope to get this resolved soon
Rohan

On Wed, May 30, 2018 at 5:42 PM CHRIS SUNNY THALIYATH <
notifications@github.com> wrote:

--
Rohan

[2018-05-31 00:51] chrissunny94 commented on #40
I am launching this after sshing into the RPI .(Running ubuntu mate)
Nope i am not using the RPI image from the website , i compiled the code after pulling it off from github .

I will try the image soon .

Yes the lights are coming on the motor controller , the PID(position control) kicks in when i try to move(push) the robot .

[2018-05-31 02:17] chrissunny94 commented on #40
Problem solved after I used the ubiquity image , thanks .

[2018-05-31 04:04] #40 closed, assigned to nobody

[2018-06-02 15:07] rohbotics commented on #38
Any update on this Alan?

[2018-06-04 06:15] #38 closed, assigned to rohbotics, jim-v

[2018-07-27 13:04] richardw347 opened #41 "left/right PWM limit reached"
We just received our first Magni (thanks guys!) and I'm just running some tests with the Magni connected to my laptop via the FTDI port. I've been running the ubiquity_motor driver and sending some teleop commands and the robot is up on blocks at the moment (for safety). I'm just having an issue when I send velocity commands above 1 m/s.

I've plotted commanded linear velocity vs reported to demon

[2018-07-27 13:29] richardw347 opened #42 "Motors moving on E-Stop release"
I'm just testing the E-Stop on the Magni and noticed an issue with the wheels moving after the E-Stop is released. The procedure to repeat the issue is:

- Send a forward velocity command (I was sending 0.4m/s)
- Press the E-Stop
- Stop sending velocity commands
- Release the E-Stop

I made a short video demonstrating the issue: [https://youtu.be/hZxYnKrlZ9E](https://youtu.be/hZxYnKrlZ9E)

[2018-07-27 17:05] davecrawley commented on #42
We are prioritizing a firmware fix for this. Expect it patched in few weeks.

[2018-07-27 17:50] albuckley commented on #42
I am concerned about this issue from a functional safety point of view. Is the fix going to be 61508 compliant? When an e-stop is triggered there aught not to be any complex logic involved. It would appear that there is some persistence of memory involved. If your patch involves reworking faulty logic, I can't see it being compliant to functional safety requirements. The system should be totally w

[2018-08-11 22:34] #11 closed, assigned to jim-v

[2018-10-31 03:41] rohbotics opened #43 "More graceful shutdown / retry on serial failure"
From @mjstn's email

If I start with motor controller serial lines not connected motor_node
crashes.

Personally I feel we should keep trying ... forever and indicate serial
not up in ROS error messages.

Anyway, the motor_node crashes.    What was the logic or has it just
never been made more robust?

[2018-11-03 22:00] rohbotics opened #44 "make intergral limit reached a debug print"
Too much log spam

[2018-11-04 05:48] #44 closed, assigned to rohbotics

[2018-11-04 15:39] rohbotics opened #46 "Publish Diagnostic for motor errors"
Publish diagnostics for easier troubleshooting.

[2018-11-07 18:50] rohbotics opened #48 "Tool to upgrade firmware"
Should be able to download and load the latest firmware.

[2018-11-10 18:33] Vuwij opened #49 "Battery Power Supply Status for Magni Robot"
https://forum.ubiquityrobotics.com/t/battery-power-supply-status-for-magni-robot/196

UbiquityRobotics/ubiquity_motor/blob/c084edfc796ed05224765634dd18618d019014c9/src/motor_hardware.cc

Line 154 shows that the battery power supply status is always marked as unknown.
It would be very helpful if it is possible to indicate the battery power supply status of the robot. This can be especially helpful

[2018-11-18 16:25] #48 closed, assigned to rohbotics

[2018-11-18 18:27] #43 closed, assigned to rohbotics

[2019-02-20 18:51] #46 closed, assigned to rohbotics

[2019-03-27 15:58] rohbotics opened #54 "Firmware update utility should allow going to previous version"
Some way to tell the firmware updater which version to load.

[2019-03-29 01:36] #54 closed, assigned to rohbotics

[2019-04-07 20:13] #42 closed, assigned to mjstn

[2019-04-09 04:09] davecrawley opened #57 "Accel limits not functioning immediately after E-stop release"
This can be reproduced here:

Case 1:
- Send twist message:
$ rostopic pub -r 10 /cmd_vel geometry_msgs/Twist "linear:
  x: 0.1
  y: 0.0
  z: 0.0
angular:
  x: 0.0
  y: 0.0
  z: 0.0"
- Activate the ESTOP button, motors are disengaged.
- Wait for few secs
- Deactivate the ESTOP button, motors are engaged.
- Observation: There is a jump in velocity for a sec and then it continued moving the wheels a

[2019-04-09 04:11] davecrawley opened #58 "Motors moving on e-stop release after manual movement of wheels"
This can be reproduced here - again we currently don't move when the E-stop is released if new motor commands are being sent.

Case 2:
- Send twist message:
- <same-as-above>
- Activate the ESTOP button, motors are disengaged.
- Try moving the wheels
- Deactivate the ESTOP button, motors are engaged.
- Observation: There is a huge jump in velocity and then it continued moving the wheels at desired

[2019-04-11 21:21] davecrawley opened #59 "No velocity published in Joint_state"
When we try to view velocity in joint_state we only get 0.0 even though the robot is clearly moving at high speed.

[2019-04-13 20:31] rohbotics opened #60 "Publish E-Stop State"

[2019-04-17 16:34] rohbotics opened #63 "Make sure that the MCB knows the version through power cycle"
If we power down the controller board but not ROS then power up controller board the board will not know its version

[2019-04-18 23:44] #60 closed, assigned to mjstn

[2019-04-19 20:01] rohbotics opened #64 "Configurable serial port name for firmware downloader"
Optionally read it directly from the yaml file

[2019-04-23 02:42] rohbotics opened #65 "6-State Odometery"
Use both rising and falling edges of the quadrature encoders.

This can be considered done when
1) A new test process for testing motion has been defined
2) New firmware has been tested on an actual robot and
3) Any changes to the motor node have made their way on to the default image and have been cleared for release.

[2019-05-02 04:25] davecrawley opened #66 "Velocity limits in software above physical limits and this creates issues"
The physical velocity limit of the robot is below that set in software. This causes undesirable odom wind up.

[2019-05-04 01:03] rohbotics commented on #66
What are the physical limits of the robot?

[2019-05-04 22:07] #64 closed, assigned to rohbotics

[2019-05-09 17:16] rohbotics opened #69 "Use 'kinetic-devel' as main branch"
We should really stop using indigo as our main branch, I am pretty sure that our code doesn't even build on indio anymore.

[2019-05-18 03:12] rohbotics opened #70 "Firmware Version 34 Release"

[2019-05-26 15:38] #57 closed, assigned to nobody

[2019-05-26 15:38] #58 closed, assigned to nobody

[2019-06-06 09:22] bhuvanchandradv opened #71 "Feature request: acceleration and deceleration time, parameter support on low level Magni Motor Controller"
At the moment acceleration and deceleration time parameters for low level Magni motor controller are not exposed. Ideally the low level motor controller should have these parameters exposed to have a smoother start and stop behavior.

[2019-06-15 20:31] rohbotics commented on #65
We need a test procedure for this.

[2019-06-16 19:26] mjstn commented on #65
Minimal Test Procedure:
- Get v35 firmware from Mark or wait till it becomes available internally for firmware uploader.
- Clone ubiquity_motor repository and do catkin_make on raspberry Pi side. (REQUIRED!)
- As a minimum do the tests up to ESTOP testing on https://learn.ubiquityrobotics.com/verification
- Do other movement based tests with whatever other approaches you tend to use so we try as m

[2019-07-06 21:31] rohbotics commented on #66
Materialized as the robot not stopping at high speed (suspected is integral windup due to this issue).
The current limit is 1.0 m/s, but it physically should be 1.4, which is confusing.

[2019-07-13 04:51] #69 closed, assigned to rohbotics

[2019-07-13 20:14] rohbotics opened #72 "Add a target velocity term to the PID loop"
This will help improve the responsiveness of the system.

This can be considered done when
1) A new test process for testing motion has been defined
2) New firmware has been tested on an actual robot and
3) Any changes to the motor node have made their way on to the default image and have been cleared for release.

[2019-07-13 20:16] rohbotics opened #73 "Investigate toolchain 4.2"
Setup for PSoC rev 4.2 build and verify the bits are compatible and operate properly.

[2019-07-17 15:34] rohbotics opened #74 "Support for loading firmware from a file"
If we give a customer a special firmware file, we need them to be able to load it without downloading any internal utilities.

https://github.com/UbiquityRobotics/ubiquity_motor/blob/kinetic-devel/scripts/upgrade_firmware.py needs to take a command line argument called "--file" that accepts a path to a firmware file and then bypasses the download step to start loading the file directly.

[2019-07-20 14:54] rohbotics commented on #70
This is now live for customers.

[2019-07-20 14:54] #70 closed, assigned to rohbotics, mjstn

[2019-07-20 15:28] rohbotics opened #75 "Utility to check odometry consistency"
A python script that publishes command velocity and subscribes to odometry.

It should drive the robot forward slowly and make sure that the odometry data is consistent with this. It should do the same tests for driving backward and turning in both directions.

It should publish to `/cmd_vel` (geometry_msgs/Twist) to get the robot to move forward, and subscribe to `/odom` (nav_msgs/Odometry). The

[2019-07-22 02:26] #74 closed, assigned to nobody

[2019-09-07 20:02] #75 closed, assigned to asergeenko

[2019-09-17 03:47] mjstn commented on #73
Bits were made that worked using rev 4.2 build.   We must do a lot of testing to verify nothing has been borken for this new toolchain

[2020-02-03 07:16] mjstn commented on #65
To use 6-state firmware you must have host code and v35 firmware.

**Host Code:  Get this first because it works with older OR new v35 firmware**
cd ~/catkin_ws/src
git clone https://github.com/UbiquityRobotics/ubiquity_motor
cd ~/catkin_ws
catkin_make -j 1

Get v35 Firmware on the main MCB board
Use these instructions and specify  v35 for the version
https://learn.ubiquityrobotics.com/firmware-up

[2020-02-07 14:23] mmaraja commented on #65
This is the list of what the robot should be able to do:

1.Try putting the weight of 100kg on the robot. It should go with the same ease as before.
- The robot is capable of caring the 100kg on itself and there shoud not be a change in it's movement.
2. Try driving the robot with it's maximum speed, which is 1m/s.
- The robot has the maximum speed of 1m/s (it is software limited).
3. Drive the ro

[2020-02-12 14:36] MoffKalast opened #79 "Firmware instructions reference missing upgrade_firmware.py"
Firmware instructions at https://learn.ubiquityrobotics.com/firmware-upgrade reference missing script upgrade_firmware.py as it isn't packaged along with the compiled code.

The fix can be to either change the instructions to a git clone of the repository that has the script or to package the python scripts along with the compiled code.

[2020-02-12 14:41] rohbotics commented on #79
@MoffKalast I just checked, and it looks like the script is being packaged as part of the deb. Can you explain what the error you encountered is?

[2020-02-12 14:52] MoffKalast commented on #79
That does not seem to be the case on the magni I'm working on right now. The rosrun command lists the script as not found.

[code]

[2020-02-12 14:57] rohbotics commented on #79
roscd doesn't really work for binary packages, as all the components are
placed in different places.

What happens when you run `rosrun ubiquity_motor upgrade_firmware.py` ?

Rohan

On Wed, Feb 12, 2020, 08:52 MoffKalast <notifications@github.com> wrote:

[2020-02-12 15:13] MoffKalast commented on #79
Well it looks in that very directory for some reason.

`[rosrun] Couldn't find executable named upgrade_firmware.py below /opt/ros/kinetic/share/ubiquity_motor`

[2020-02-14 13:15] mmaraja opened #80 "Changes to the PID config for the default image"
Changed values of parameters for motor node.
Improved motion and reduced deviations.
PID_P: 5000
PID_I: 7
PID_D: -110
PID_C: 1000
PID_W: 70
PID_V: 15000

[2020-02-14 20:15] rohbotics commented on #80
Hey @mmaraja (and @davecrawley),

Are these parameters known to be good on both 6 state and non 6 state robots? Do we need a method to change the loaded PID params based on the type of motor contoller?

[2020-02-14 21:53] davecrawley commented on #80
These parameters haven't been tested on a non-six state robot.

That said the parameters are very close to the parameters we were putting
on our non-six state robots. The key difference is the addition of the V
term - which is not available on older firmware revisions. There are a few
other subtle changes as well (for example the windowing parameter was
narrowed to optimize performance).

David

O

[2020-02-15 19:36] #65 closed, assigned to rohbotics, mjstn

[2020-02-15 19:37] #72 closed, assigned to mjstn, mmaraja

[2020-02-16 16:34] rohbotics commented on #80
Ok, we really should test on a "v32" robot before we can make these changes the default.

[2020-02-19 21:24] rohbotics commented on #79
Hey @MoffKalast

I just tried this again on the 2020-02-04 image, and it `rosrun ubiquity_motor upgrade_firmware.py` runs perfectly fine.

[2020-02-19 21:24] #79 closed, assigned to rohbotics

[2020-02-19 21:26] MoffKalast commented on #79
¯\\\_(ツ)_/¯ May have something to do with removing and reinstalling packages then. I'll look into it more sometime.

[2020-02-20 20:49] rohbotics commented on #80
I created a PR for this, but we still need to test on a v32 robot.

[2020-02-21 09:31] mmaraja commented on #80
The test on a v32 robot is done, new values of parameters can be default.

[2020-02-21 14:57] #80 closed, assigned to rohbotics, MoffKalast, mmaraja

[2020-05-12 18:46] kristjanp28 opened #83 "Robot does not move "Baud rate issue""
Problem: Robot dosen't move with teleop.
Procedure for reproduction the error:

MCB: 5.2 known working board.
Image: 2020-02-10-ubiquity-xenial-lxde-raspberry-pi.img
Firmware: v35

procedure:
- Power up
- wait for SIN and SOUT to blink / 3 minutes to boot up
- move robot around with teleop
- shutdown with 'sudo shutdown -h now'
- power off with switch

observations:
- motor_node uses ~60% of cpu
-

[2020-06-10 19:30] mjstn opened #85 "Implement a system wide I2C lock that is enforced by kernel"
We should implement a system wide I2C access locking scheme.  Rohan has  suggested to use this approach:

See I2C_RDWR in here https://www.kernel.org/doc/Documentation/i2c/dev-interface
And some example code here: https://gist.github.com/JamesDunne/9b7fbedb74c22ccc833059623f47beb7

[2020-06-17 07:25] mjstn opened #86 "Get the knowledge that high resolution encoders are in use ready faster"
We found that if we start the motor_node using v35 firmware which has high resolution encoder mode and then as fast as we can we send twist commands with a known speed for a known duration the resulting distance will be ok BUT the odometry will register two times the actual distance moved.

If we wait for a couple minutes ODOM will work ok.

This we feel is due to we are not pulling in fast enough

[2020-07-03 08:42] mjstn opened #91 "MotorSerial::transmitCommands uses a hard coded 2 millisec delay for MCB groups of commands"
Found this deep in the mud.   We can be jamming commands down the throat of the MCB faster than it can process them in all cases of worse case delay.     This is likley 'part' of something that was recently discussed as a reliability issue by a user of our code on a different platform than the raspberry Pi platform.  In any case this should be fixed to avoid message overrun on mcb.

[2020-07-09 05:53] rohbotics commented on #83
@mjstn @kristjanp28 Have we gotten this bug again?

[2020-07-16 19:12] rohbotics opened #93 "Radar driver and evaluation"

[2020-07-17 08:39] mjstn commented on #91
Here is what will be tried first for a robust yet time-out-able protocol that will be backward compatible with old firmware.

The ACK Protocol.   Here is what I am coding now
- The raw message will be changed in a sort of backwards compatible way.   The  upper bit of the byte that holds the register number will be a  'MCB is still busy' bit.  Older code will just work because it will NEVER reply a

[2020-07-19 07:47] mjstn commented on #91
As of today I have in branch  addMcbMessageAck a good 1st cut attempt to solve 95% or more of issues.
My goal at this time is to have host side code that will function and improve things even with prior firmware.
Then firmware can also be helping this situation with perhaps v38 by setting a busy bit.
At this time host code on any read will set a 'mcb busy' condition upon and sending of a read quer

[2020-07-23 19:13] rohbotics opened #95 "Baud rate issue on Raspberry Pi"
We have a semi-rare intermittent bug where ubiquity_motor  starts an instance of motor_serial near line 90 in motor_hardware.cc.

We have seen that sometimes after many starts from cold power off we get wheels dont work.

Symptoms:
- ROS topic /diagnostics will not be publishing items for 'Firmware Version'  or 'Firmware Date' and more because motor_node cannot talk to the MCB
- The ROS log will b

[2020-07-29 06:57] Alex-Beh opened #96 "motor_node process has died"
Hello, I face the following issue when I `roslaunch magni_bringup core.launch`

Besides, when I run python test_motor_board.py and it raise the following error:

However, when I run the command `sudo systemctl stop magni-base`, it said:

I am using magni robot connect to nvidia xavier nx using ftdi connector.

[2020-07-30 16:21] rohbotics commented on #96
Hi @Alex-Beh, If you are not using our image, you don't have to worry about the systemctl stop command.

How did you compile and run ubiquity_motor on your platform? It looks like you are missing a library.

What version of ROS are you running?

[2020-08-04 04:59] mjstn opened #98 "Host must re-initialize MCB when it detects MCB board has been reset"
As of MCB firmware v37 the host reads if a reboot happened on the MCB in the system events register.
Interfaces are in place to read this in motor_node.cc

Next we must package up the MCB init code in motor_node.cc and call it again when MCB reset is detected.

Firmware side issue was:  Host node must be aware firmware has rebooted #4

[2020-08-15 01:13] mjstn commented on #83
This defect is a duplicate of https://github.com/UbiquityRobotics/ubiquity_motor/issues/95
Closing this now as it is the same defect.

[2020-08-15 01:13] #83 closed, assigned to nobody

[2020-08-15 05:45] mjstn commented on #59
At this time joint state position is in radians.
The ROS docs say velocity is in rad/sec.
So I have it working now and it will publish velocity in rad/sec

This actually makes sense because the joint is a rotating wheel not the robot

[2020-08-15 06:15] mjstn commented on #49
We cannot currently know if the robot is being charged.  We do not have a directional current sense between the XLR jack and the battery.  Voltage alone cannot tell us if we are charging although it can tell is if we are hooked to a charger and fully charged we cannot tell if we are in some other state of charging where we are not full yet.

[2020-08-15 06:22] mjstn commented on #41
The issue here  has been fixed with the ability now to set a ROS parameter of fw_max_pwm.
I was reviewing older issues and noticed this issue.
I cannot say at what point this did or will enter our default images but it is in the ubiquity_motor repository at this time.
I feel it will likely be included in our default Magni images upon the next image released after todays date.

[2020-08-15 06:22] mjstn commented on #41
Closing this as it is felt to be fixed with recent inclusion of ROS paramater of fw_max_pwm.

[2020-08-15 06:22] #41 closed, assigned to nobody

[2020-08-17 08:50] mjstn commented on #98
This is being addressed in **branch reinitMcbOnMcbReset** and seems functional at this time but is not in review yet.

[2020-08-17 08:51] mjstn commented on #73
This should be in repository  psoc_motor_conroller_firmware

[2020-08-17 08:53] mjstn commented on #59
This is fixed in **branch  fixJointStateVelocities**  and is in the review state at this time

[2020-09-10 19:10] #93 closed, assigned to dorkamotorka

[2020-09-16 07:17] dorkamotorka opened #108 "Test I2C Communication with O_RDONLY"
Macro O_RDWR should be changed to O_RDONLY and tested, because we are only doing the read() call afterwards-
    O_RDWR is opening file for reading and writing
    O_RDONLY is opening file for reading

https://github.com/UbiquityRobotics/ubiquity_motor/blob/437d31cdb6ff262c01afd4769900ee93d08b0ea1/src/motor_hardware.cc#L897

[2020-09-22 05:21] mjstn commented on #108
I have gotten around to changing the open to O_RDONLY and it functions fine.
I have not actually pushed this because my code is doing other things and is not clean enough.

[2020-09-22 05:54] mjstn commented on #98
Have merged the branch of  reInitMcbOnReset today.

Note: A prior branch was botched that had a similar name but reInitMcbOnReset is the branch used for the final change.

[2020-09-29 06:46] #108 closed, assigned to dorkamotorka

[2020-09-29 06:49] dorkamotorka commented on #85
Re-opening this issue, because there need's to be work done on the oled_display_node i2c communication.

[2020-12-07 09:08] mjstn opened #112 "Sharing ubiquity_motor for 4WD platform and regular magni hitting a serious issues"
**Fundamental Issue With Ubiquity Motor Usage in Magni and 4WD unit:  !!!**    We converted the 4WD platform over to use the awd_coordinator and 4wd stuff and it works well.   BUT we have left Magni in the dust I think.

We did not fork or anything so we are trying to use branches that are platform specific so getting those branches back into kinetic-devel is a major PITA.

 I am having issue with

[2020-12-07 20:01] mjstn opened #113 "Need software support to minimize battery current when battery is under 22V or so"
Need software level support to try to better inform customer of battery low.
This can be oled or other indications like fast blinking leds and so on

[2020-12-07 20:59] MoffKalast commented on #113
Suggestion: once the motors stop running they should instead pwm beep in a recognisable way that can be described in the learn docs as a battery low alert.

[2020-12-07 21:18] mjstn opened #114 "Clean up general parameter settings in robot.yaml and base.yaml"
We need to finalize changes set in motion over a year ago where we want to avoid use of apt upgrade from wiping out many customer specific settings made in the base.yaml file which can be updated on the apt upgrade.

The goals of this issue are two fold:
1) Document and understand parameter setup as used in shipping Magni images from mid 2020
2) Document and understand how we plan to have many par

[2021-01-28 09:22] JanezCim opened #118 "Motor not not starting up occasionally because of baudrate errors"
![image](https://user-images.githubusercontent.com/8426792/106116458-36d3e100-6152-11eb-8802-54be284667bf.png)

Sometimes on bootup i see this error
This is on magni robot with ubiquity motor installed with
`sudo apt install ros-kinetic-ubiquity-motor`

Not confirmed - still testing, but it might be working better if i clone and build the latest kinetic-devel and increase the time of wating here:

[2021-01-28 09:55] JanezCim opened #119 "PID tunning needed for magni robot"
Someone should take a **magni robot** and tune the PID motor node parameters found in base.yaml. Currently we it is drivable but it could be better

[2021-02-06 08:55] mjstn commented on #118
I have made the delay 5 sec and we will evaluate this in testing.   This longer delay will be in the branch we will now call git 4wdChassisBranch.

[2021-02-06 08:57] mjstn commented on #113
We cannot stop current usage in the motors from host code but we can keep speed settings always 0 in this case and that will be very nearly shutting down motors and thus minimizing current draw against the battery.

[2021-02-08 18:15] anfederman opened #120 "Python3 syntax errors on test_motor.py"
The default python for Noetic is python3.  test_motor.py  fails to run as both python2, or python3.

changed to import thread to import _thread and

You should have written except getopt.GetoptError as e: instead of except
 getopt.GetoptError, e:  (2 occurences)

still complains on not being able to import smbus in either python2 or python3

I tried importing smbus2 as per Pi 4 python3 recomendati

[2021-02-08 18:51] anfederman commented on #120
also the first line of the program is:

#!/usr/bin/pythmn -u

(how did we miss that!)

[2021-02-08 18:51] #120 closed, assigned to nobody

[2021-02-15 20:12] mjstn opened #121 "Need motor stop command for collision stop on system_control topic"
There is a need for friendlier high level interface to stop motor control for cases such as collision.
This came in through a forum user who feels very strongly this should exist.
Because it is a request for a safety related feature to make collision safety easier it seems a good idea.

We will use the /system_control topic recently added for motor disable for firmware upgrade.
We could have motor

[2021-02-15 20:49] MoffKalast commented on #121
Why don't we just use the already implemented enable/disable functionality? It should get the job done, unless it takes too long to break/remake the serial connection.

[2021-02-15 22:37] mjstn commented on #121
No, that is 'harsh' and totally re-initializes MCB.  We want to disable speed control only for collision safety reasons.

[2021-02-16 02:09] mjstn commented on #121
This ability as well as some cleanup to encapsulate this and the mcb disable into the motor_node class for state is all now done.
This is located in ubiquity_motor branch of   addSpeedControlForMotorNode

[2021-02-16 08:27] mjstn commented on #96
I am retiring this issue for lack of repeatability on current production image.  This seems to be related to use of the motor node on a system other than a Magni.

[2021-02-16 08:27] #96 closed, assigned to nobody

[2021-02-16 08:28] mjstn commented on #86
We have started to default to high resolution encoders now so this issue is no longer a problem.

[2021-02-16 08:28] #86 closed, assigned to mjstn

[2021-02-16 22:02] mjstn commented on #49
This is a feature not possible with our hardware or software.  We will be pushing this feature to our next generation robot platform that is in development now.

[2021-02-16 22:02] #49 closed, assigned to nobody

[2021-02-16 22:08] mjstn commented on #59
This has been merged and thus this issue is being moved to done now.

[2021-02-16 22:13] mjstn commented on #95
We have done all we can justify at this time to address this issue.   We will consider it dealt with by the workaround we have implemented and if it happens again start this as a new issue.

[2021-02-16 22:16] mjstn commented on #95
This is a duplicate of 118 so the meat of comments in this issue will be added to 118 and this one closed now.

[2021-02-16 22:16] #95 closed, assigned to rohbotics

[2021-02-16 22:18] mjstn commented on #118
The best comments on debug of this were from issue 95 which I just closed as a duplicate.  Below is the good comment from #95

We have a semi-rare intermittent bug where ubiquity_motor starts an instance of motor_serial near line 90 in motor_hardware.cc.

We have seen that sometimes after many starts from cold power off we get wheels dont work.

Symptoms:

ROS topic /diagnostics will not be publis

[2021-02-16 22:20] mjstn commented on #118
We feel we have a reasonable workaround for this issue and will set this to Done at this time because it is unlikely we can solve it with given resources AND this is now very rare with the workaround so we re-open if it is every seen again.  We have troubleshooting docs online to identify this issue just in case it gets seen we know it's history.

[2021-02-17 07:23] JanezCim commented on #118
Yes, the workaround seems good enough for now, we can revisit this if there are problems later.

[2021-02-17 07:23] #118 closed, assigned to mjstn

[2021-03-02 09:39] mjstn opened #123 "Need support for Magni motors with gear ratio of 5.17"
Our wheel supplier is moving to gear ratio of 5.17
The current gear reduction ratio is 4.3

We must have new wheel type support in firmware as well as ubiquity_motor layers.

[2021-03-16 10:15] mjstn opened #124 "More accurate wheel velocity and position data required from MCB"
We need accurate speed data from the MCB reported to Ubiquity Motor node so we can do better fusion and wheel odom.

Need to at firmware level precisely measure from encoder edges the micro-second timing of encoder pulses and send this to motor node so very accurate slow speed wheel odom can be available to fusion with IMU data and so on.

[2021-03-23 02:42] rohbotics opened #125 "Noetic release ubiquity_motor"
We need to test and release ubiquity_motor for noetic.

Might need to find a replacement serial library.

[2021-03-23 15:58] anfederman commented on #125
the motor node does appear to work under Noetic, but the
test_motor_board.py script does not.  Under Python3 it just prints the menu
and terminates, under python2 it can't find the serial port. This is the
arm32 Ubuntu 20.04.

On Mon, Mar 22, 2021 at 7:43 PM Rohan Agrawal ***@***.***>
wrote:

[2021-04-09 11:48] JanJericevic commented on #114
**(Moved correspondence from Slack for history)**

This is the working [document](https://docs.google.com/document/d/17wupLEs3uyQACEimy3F_HhVBuSJxN-3EoZIuvKpABTg/edit?usp=sharing) describing my work so far, made observations and questions I have. At the end, it describes the next assignment I will work on within the project.
I will update this file as I finish individual assignments.

**Feedback f

[2021-04-13 05:48] mjstn commented on #124
This is under review at this time for the host side changes in ubiquity_motor.
See pull request as follows:
Add tic interval topics and fix bat volt readings and enhance test_velocity tool #126

The firmware side of this ability is in v41 firmware which is a beta at this time and will be evaluated by the Qualcomm team most likely.

[2021-04-13 05:54] mjstn commented on #121
This has been implemented in ubiquity_motor in commit f130510bf23d5c38916ef82f955a91d4068d018c in kinetic-devel

This has also been used in a new node called sonar_detector that acts as an independent collision detect mechanism that can stop the motor node by use of this new topic.

[2021-04-13 05:54] #121 closed, assigned to mjstn

[2021-04-13 05:59] mjstn commented on #98
This has been merged into ubiquity_motor as commit e404c0d5e7f922bedfd9fdba3c8ccb752ffa0fa8
This issue has been implemented and I close it now.

[2021-04-13 05:59] #98 closed, assigned to mjstn

[2021-04-13 06:01] mjstn commented on #73
Because we are approaching a new platform approach this year it has been decided that there is no need to move to toolchain of 4.2 as it brings us not enough to warrant the potential risk and trouble of such a full switchover.

[2021-04-13 06:01] #73 closed, assigned to mjstn

[2021-04-13 06:04] mjstn commented on #63
As of version 5.2 MCB board which has been our main shipping version followed now by rev 5.3  a resistor divider allows us to determine MCB version is 5.2,5.3  or some earlier version.  That is sufficient to satisfy this issue.
the issue is being closed as being addressed well enough at this time.

[2021-04-13 06:04] #63 closed, assigned to mjstn

[2021-04-13 06:06] mjstn commented on #59
This was done long ago and moving to close finally.

[2021-04-13 06:06] #59 closed, assigned to nobody

[2021-04-15 01:24] mjstn commented on #114
The specific goal here is to move the following parameters so they are in robot.yaml and do not come from base.yaml.
The parameters below will exist in robot.yaml and will no longer be present in base.yaml

This might require changes to launch_core.py or just verification that is is working and getting parameters from robot.yaml

You need to understand how the system starts and it is complicated.

[2021-04-15 01:39] mjstn commented on #114
I will now explain roughly  how these parameters get setup: (all in ubiquity_motor repository)
- motor_hardware.cc sets these up as internal parameters for the node but all are set to -1 (undefined)
- motor_parameters.h defines all these as   members of FirmwareParams class and each is set to a default value in motor_parameters.h
- Also in class FirmwareParams in its constructor all these paramete

[2021-04-15 10:16] JanezCim commented on #114
Please be advised that robot.yaml is not static - we are adding parameters in other projects (like extra parameter for lidar location and parameter weather or not the imu fusion is enabled). So before changing things here - which is prone to break a lot of stuff - @JanJericevic i suggest we have a call or something to talk about how those new parameters are usually added to projets that require cu

[2021-04-18 15:11] JanJericevic commented on #114
I created a [branch ](https://github.com/UbiquityRobotics/magni_robot/tree/feature-ubiquity_motor-%23114-ParameterCleanup)in magni_robot repo. All of the changes so far can be viewed there.

[2021-04-19 03:38] rohbotics commented on #114
*from Slack*

I'm curious why the robot.yaml file and its parameters are imported this way. Is there a specific reason why the parameters are imported using the py script and not by the <rosparam> tag in a launch file (as is base.yaml)?
I'm asking because of the talk that we had the other day @mjstn. If the robot.yaml file could be included in such a way it would, I think, simplify things in regar

[2021-04-19 05:14] mjstn commented on #114
Good catch on README.  I have in fact added many published topics some of which were from 5 or more years back.
Need to inform people on all these things the motor node publishes and accepts.

[2021-04-19 05:39] mjstn commented on #114
I also removed the diagnostic cap on the interval that you saw.   I had a 2000 in there to do some special evaluation.

[2021-04-19 14:42] JanJericevic commented on #114
The incorporation of base.yaml file was left as is. My question came from talking to @mjstn how the robot.yaml file could eventually include many parameters (ours and user-added), because of which the launch_core.py and core.launch files could become overcluttered.
Right now the only thing we did was move some of the parameters to robot.yaml and change the launch_core.py and core.launch so that th

[2021-04-19 20:23] rohbotics commented on #114
@JanJericevic I think for the purposes of this issue, the XML generation is way out of scope. I have created a new one https://github.com/UbiquityRobotics/magni_robot/issues/159

This issue should be closed as soon as the simple cleanup changes you have done are merged in.

[2021-04-19 21:33] JanJericevic commented on #114
Ok I understand, thank you.

[2021-04-26 13:41] MoffKalast opened #127 "Offset battery state so 50% reads as 0%"
Something we talked about the other day, but then forgot to turn into an issue.

To sum up, the RPi becomes unstable under what's currently being calculated as 50%, so we should probably label it as far lower, like 5% or 10% at most so it's clearer that the robot is about to stop working and adjust the linear curve accordingly.

I suppose the question is what do we do with the remaining 0-49%. We

[2021-05-06 13:49] JanezCim opened #128 "shouldnt /system_control be a service?"
If it was a service, a node that would call it would recieve an answer from motor_node weather or not the motor_control disable/enable has been successfully executed. I think this is pretty important for eg. firmware updater node wrong execution of which could result in bricking the MCB.

[2021-05-06 18:30] MoffKalast commented on #128
![200](https://user-images.githubusercontent.com/9977799/117347875-dd462580-aea9-11eb-826b-9547ea236173.gif)

[2021-05-06 19:57] mjstn commented on #128
What happens to assure a lock is that the serial port can only be opened by one process at a time.   Once you own the port you are assured it is not going to be interrupted by some other process.  There must be feedback, that is clear and in fact I have known this was missing so yes, the motor node must indicate it has relinquished control.

So more thought is required but in the end I want motor_

[2021-05-07 07:49] JanezCim commented on #128
Thats good to know :)

Yes, i ment a ros service. Im not sure if anything else is happening in the backround, but if this callback is the only thing that has to happen on enable/disable income topic:
https://github.com/UbiquityRobotics/ubiquity_motor/blob/f130510bf23d5c38916ef82f955a91d4068d018c/src/motor_node.cc#L84

Then I dont think implementing it as a service would pose too much work. Based o

[2021-05-07 08:01] mjstn commented on #127
We don't want to let our batteries operate much lower than around 12V which is near that 50% capacity.
We are unable to monitor anything but battery voltage.   Some tweeks have gone into the MCB that apply to better tolerance and value resistors used to measure voltage as well as a fix for the ratio so older boards were often way off in battery readings.

Many battery mfgs have lots of info on the

[2021-05-07 08:47] MoffKalast commented on #127
I mean according to some of our customers, there's a pretty high chance of sd card corruption below 50%, so I'd say we should set a hard limit there and not even debate deep cycles. I'd imagine the 5V rail must become unstable somehow during robot movement but we don't exactly have proper tests of it.

[2021-05-07 10:11] mjstn commented on #128
No not just command line.   Another function of system_control is to implement the sonar_detector node that lives outside of motor node and implements a crude avoidance of collision.   That is not the same thing as this 'relinquish MCB' sort of activity.    That too assumes the motor node will get the command on the topic and there is no need for 'feedback' in that case.
In the case of firmware do

[2021-05-07 10:17] mjstn commented on #127
Totally agree.   I was trying to say, stop at 50% discharge which is in the 'area' of 12V
I have as of last week completed an enhancement to my battery load pulser and was hoping to do more 'exact tests' but frankly we should take advice from the hundreds of folks that have used gel cells before and trust their judgement in order to not 'push our luck' and corrupt a lot more SD cards simply to get

[2021-05-07 11:35] MoffKalast commented on #127
This has me thinking though if we have two 7.2Ah batteries in series that gives us what, like 4Ah@28V to use in total?

I think there are 20V 6Ah cordless drill batteries out there that might get us similar range and we could probably fit like four of them for the same space/mass, plus they have protection and battery indication. Sounds totally ridiculous but it could be something worth trying out

[2021-05-10 14:52] JanezCim commented on #128
Ok, then maybe the safest way for now would be to both post disable on /system_control topic, delaying a bit, then rosnode killing the motor_node and then doing the firmware update and then restarting the whole system. See Boot firmware update issue for more precisely planned steps of doing that.

[2021-05-12 05:32] mjstn opened #129 "Need better resolution on motor speed in order to have better app control of path"
A customer has complained that his app cannot control a path smoothly on a Magni and I have determined this is because the resolution of the speed control bits we send the MCB is too course to allow smooth control of a path by an app or nav package.  An app is not able to control very gentle rotations on the order of under 2 degrees per second with todays firmware.

If we wanted to solve this issu

[2021-05-12 07:58] dorkamotorka commented on #129
I think you made a great point. One thing for breadcrumb is that minimal linear and angular velocities depend also upon the payload that is on the robot.

I would propose for Gen6 to have some kind of **mass/force sensors** such that we could determine the payload on the robot and have our configuration parameters dependent upon that.

This would indeed come in useful maneuvering since the Motor C

[2021-05-12 08:08] MoffKalast commented on #129
I mean, it's definitely something to implement but I have some doubts regarding what it would actually fix in practical terms. After all it did take a customer to figure it out after years of selling the robot. It's not like our localization is good enough for this to be the bottleneck when trying to move around accurately.

[2021-05-12 08:48] mjstn commented on #129
Thanks for the inputs so far. I mostly wanted to make all 3 'team leads' be aware of this because I think it has sort of come up but not really had root cause be identified.    Aisle mode also 'waddles' along with obvious corrections slowly happening and that too may be due to this granularity.

[2021-05-19 16:07] rohbotics opened #130 "Need to fix the unit tests"
Looks like there are a bunch of changes that were made to the code base that were not reflected in the unit tests.

[2021-05-19 16:26] rohbotics commented on #130
@mjstn Looks like a big part of this is that the `REG_LEFT_SPEED_SET` register no longer exists, but the tests use a message with that register frequently. Do you have some way of creating valid messages with valid checksums so that I can use those in the unit tests instead? If not I can come up with something by hand.

[2021-05-19 17:45] rohbotics opened #131 "Update ubiquity_motor to use different serial port lib"
Looks like the serial library we are currently using https://github.com/wjwwood/serial is not really being maintained, and there is no noetic release for it. We should probably move off of it to something like boost asio, or drop the possibility of windows support completely by using the syscalls directly.

[2021-05-19 20:13] #130 closed, assigned to rohbotics

[2021-07-06 16:57] matjazbos opened #137 "Breadcrumb behaving incorrectly on firmware v41"
I was trying v41 firmware on Breadcrumb, but it didn't work as it should. The most noticeable thing was that the robot was moving very slowly. It was also turning in a bit wrong directions, so I guess that also odometry didn't work perfectly.

[2021-07-10 19:17] samiamlabs opened #139 "Wheels not moving on kinetic-devel branch"
Hi folks!

I'm trying to use the kinetic-devel branch instead of the indigo-devel that is distributed with apt for kinetic for my Magni.
It works fine with indigo-devel, but when I switch to the new branch I get this error:
[code]
The wheels don't spin when I publish to /cmd_vel and
`rostopic echo /motor_power_active` gives me `data: False`

I thought it could be something with the new `system_con

[2021-07-15 12:04] samiamlabs commented on #139
If I remove the option-switch related setup, everything seems to work fine on kinetic-devel though. Is this a known issue?

[code]

[2021-07-15 17:58] samiamlabs commented on #139
Hardware Revision 5:

So I guess that means that trying to read the switch on hw revision: 4.9 would not work.

It's probably a good idea to add a param that determines if reading the switch state over I2C should be attempted for those of us with first production run boards :)

By the way, I've ported the majority of this repo to ROS2 galactic using ros2_control this week for our own use. Would yo

[2021-07-19 19:05] dorkamotorka commented on #137
We need more information on that. Did that happened after we drove the robot with 100kg, is robot underpowered(low battery), are we able to reproduce that also with keyboard_teleop.

[2021-07-20 19:02] rohbotics opened #143 "Port upgrade firmware to Python3"

[2021-07-22 22:25] rohbotics commented on #143
Done as part of #134

[2021-07-22 22:25] #143 closed, assigned to rohbotics

[2021-07-22 22:30] rohbotics commented on #139
I think the best resolution for this will be to change this line
[code]
to check the controller_board_version parameter and skip the i2c read on boards older than 5.0.

[2021-07-22 23:18] samiamlabs commented on #139
Hi Rohan!

I suppose that is the most obvious solution. The 4.9 version of the
hardware can't know what hardware version has, so it would require the user
to manually set it as a parameter right?
As long as the documentaion is clear and obvious about it, it should be ok.

I think it could be possible to make it work for 4.9 without the user
manually specifying the hardware version, but up  to you

[2021-07-23 17:34] matjazbos commented on #137
It happens regardles of the load before testing. The robot wasn't underpowered. It also happens with keyboard_teleop (the slow driving part).
Here is the video of the problem. Instantly after flashing back the v40 firmware, it works normally.
https://workdrive.zoho.com/file/opxqf0ec321edd7e94b9291f801b82efd9cc8

[2021-07-26 19:08] #114 closed, assigned to rohbotics, mjstn, JanezCim, JanJericevic

[2021-07-26 20:37] cst0 commented on #119
For what it's worth-- I found that adjusting the P value to 15000, I to 0, and D to -30 was fairly stable and effectively eliminated the PID backlash that I was observing with the default PID values.

[2021-07-27 22:44] #139 closed, assigned to nobody

[2021-08-05 08:55] mjstn opened #147 "ROS Parameterize the WHEEL_SLIP_THRESHOLD in motor_node.cc"
I place this issue here so that perhaps somebody can make ros parameters for a new value I have put in for a threshold for when to kick in wheel slip nulling.  This is a feature to help avoid wheel overheating.    This is a request for assistance so we can change this parameter if required as we move forward.

I assign Teo at this time but fully expect he would find somebody to take this on and re

[2021-08-09 19:07] rohbotics opened #149 "Upgrade firmware needs to be ported to Python3"

[2021-08-17 17:42] rohbotics commented on #131
Note that this is less urgent now that we have our own build of wwjwood's serial in our tree.

[2021-08-17 17:45] rohbotics commented on #125
Done

[2021-08-17 17:45] #125 closed, assigned to mjstn

[2021-08-24 23:58] mjstn opened #150 "MCB HARDWARE: Make 5V main less likely to reboot the Pi4 or cause Ethernet dropout"
It seems we need to revisit the power supply for 5V main for reliability reasons.

These items will be evaluated and some or all of them will be decided based on results.

- R1314 changes to 1.13k 1% for a 5.15V supply
- D2303 and D3303 become DIODE ZENER 5.6V 5W DO214AA
- C1309, C1310, C1311 revert back to 100uf ceramic (we had to change these for production parts shortages)
- Perhaps C1312 shoul

[2021-09-18 02:51] mjstn commented on #123
A working ubiquity_motor codeset that runs on Noetic image is now present in **branch addMotorGearRatioParameter**.

**There is no impact on firmware.**  Our firmware has always only returned incremental ticks and the host side does all the conversion to ODOM as well as setting of MCB speed has always been in units that regulate tics per time interval so the host here also is doing the adjustments

[2021-09-18 06:05] mjstn commented on #137
The slow driving is because that is a firmware made with all defaults for the MoonStar product.
I am closing this now because v43 has been successfully tested.
Please refer to issue:  https://github.com/UbiquityRobotics/robot_testing/issues/12
and Pull request: that has been merged to ubiquity_motor was called merge4wdFeaturesToMagni

[2021-09-18 06:05] #137 closed, assigned to mjstn

[2021-09-22 06:43] mjstn commented on #129
I feel this is best pushed out to Gen6 because it would have significant risk of breaking things (badly) and it has very little real benefit right now.

closing this now so we remain 'realistic' in what we try to improve on current platform of Magni

[2021-09-22 06:43] #129 closed, assigned to mjstn

[2021-09-22 06:45] mjstn commented on #147
This issue is on hold and would be only required if we re-start the work on MoonStar which is the only platform this applies.

[2021-09-22 06:47] mjstn commented on #112
I have resolved this by doing merges (twice now) from the 4WD to current magni kinetic-devel as well as noetic-devel.
I feel that takes care of the bulk of my concerns thus closing this now.

[2021-09-22 06:47] #112 closed, assigned to mjstn

[2021-09-22 06:50] mjstn commented on #123
This has been implemented only at Host layer.  There was no need to modify firmware.

[2021-09-22 06:53] mjstn commented on #150
We are being more conservative and are to use a value of 1.15k for R1314 for a 5.10V supply.

We are completely removing D2303 and D3303 because they are not really needed except to prevent some catastrophic failure of the buck converters for 5V but if that happens the MCB is badly broken in any case anyway.

We are as of 9-20-2021 doing rework of all in-stock MCB boards for above items.

The last

[2021-09-29 10:37] MoffKalast opened #154 "Baud rate bug"
Yes it's still a thing, at least on the kinetic image. It especially has a propensity to happen during client support calls.

Are we sure we couldn't add some kind of reconnect attempt assuming the connection fails? Does that not solve anything?

[2021-10-05 02:15] mjstn commented on #154
I have seen this happen after a shutdown -r now   on the 2021-9-30  ez-map image.   it is intermittant and only once so far but the telltale sign is massive number of ROS logs pound into the log with the word in upper case of    REJECT

[2021-10-21 18:29] mjstn opened #156 "Battery disconnect Red text sticker to prevent board dammage"
We need to have a white label with bold RED text if possible that tells people to disconnect red power cable from battery before any working on the product.     Some points for this sticker are as follows.

- Must be clearly visible to anybody who is going to start putting on or off the Sonar board or raspberry Pi or MCB
- Ideally not blaring location on the general product which would distract fr

[2021-10-21 23:04] MoffKalast commented on #156
Perhaps the real issue here isn't the lack of labels but the false sense of security that the main power switch provides, calling itself the "main power" switch while not actually turning off the entire system. Perhaps the next gen boards could benefit from a physical breaker switch that fully disconnects power instead.

[2021-10-22 07:48] JanezCim commented on #156
another battery switch would probably also be nice, the connectors on the battery cables are not ment to be constantly re-connected. But for me personally, there is nothing quite like the overwhelming comfort and the liberating security of seeing the battery completely disconnected before servicing :D

[2021-10-26 08:14] JanezCim commented on #149
One shady workaround, install python2 alongside python3 and update with that

[code]

[2021-10-29 18:53] mjstn opened #157 "Magni proto wheels with 5.17 gear ratio mechanical issues"
Our two sample wheels of gear ratio 5.17 have shaft of 12mm threads.  That cannot be what we use to be compatible with a standard Magni/Breadcrumb and so on type of chassis.   12mm is used only for the gearless wheels used in 4WD robot so far.  ALSO the proto rev 5.17 wheels stand out about 1cm on each side for a 2cm wider wheel separation.  Lastly the wheel axel extends past hubcap by 5mm or so o

[2021-10-29 18:57] mjstn opened #158 "The OLED display should indicate need for firmware upgrade"
Because our host code now can use the OLED display which it does for IP viewing and battery level we need more.

We should verify the firmware rev is not quite old and indicate firmware rev with 'UPGRADE' if it's really old.
So far we do battery and IP messages in the oled node.  The oled node was written to support display updates through a topic and all that is in now so I suggest we start to do

[2021-11-03 19:20] MoffKalast opened #159 "Battery percentage (again)"
So a client has done some battery characterization and found out that the percentage values seem to not be quite as linear they should be. Instead the voltage seems to be linear, but the variance is super high.

The robot was supposedly left stationary with a more or less constant discharge current for some time, resulting in the following graphs. I would assume the empty spaces on the vertical ax

[2021-11-17 09:49] mjstn commented on #159
We should NOT try to show 'percentage' for lead acid gel cells.   Instead we (sadly) need to show things like 'good',    'moderate' or 'poor' charge state.    We cannot do 'science' without monitor hardware that can also read current consumption at any given time.     This is not 'LiPo' battery.    The load greatly impact lead acid performance and we don't know the load at the time of the evaluati

[2021-12-13 07:00] mjstn commented on #157
Assembled unit shows that the  rev 5.17 wheels stand out about 1cm on each side for a 2cm wider wheel separation. Lastly the wheel axel extends past hubcap by 5mm or so on each side.

[2021-12-13 07:17] mjstn opened #161 "Need info XFER from Rohan for managing online firmware revs and default rev must be v43 now"
We need to get v43 up to our firmware download site for Magni.
We also need to make v43 the default rev now.
This requires Rohan who is the sole person who knows how to do this or we need a doc from Rohan

[2021-12-13 07:24] mjstn opened #162 "Need to formalize an IMU board for one of our Gen5 option boards"
We need to get the IMU board with IO that fits into the MCB  OLED slot to be a 'real' board we are capable of making.

[2021-12-13 07:25] mjstn commented on #162
Full KiCAD package and BOM sent to our PC department on Dec 9 2021.  That is 'step 1'

[2021-12-13 09:43] mjstn commented on #123
Today the 5.17 gear ration motors were tested on the 11-24-2021 image.
the required base.yaml change needs this line in ubiquity_motor: section
    wheel_gear_ratio: 5.17

The forward and back odom worked great for forward to 0.8 M then back to 0.
The rotation is off which was due to these proto motors stick out about 1cm extra from chasis thus making rotation be more than expected.    I saw 98 de

[2021-12-15 21:13] mjstn commented on #150
Closing this issue today.   Status:   We have made 100 boards with above mod and they appear working.  We will ship this starting with Magni units on rev 5.3 MCB boards with the MOD 5.1 on them.
We have also gotten our PC group to be updating the BOM for the MCB so that the next run will be with these changes.

[2021-12-15 21:13] #150 closed, assigned to mjstn

[2021-12-15 21:16] mjstn commented on #124
Closing this now.  It has been in the code for a few months now.

[2021-12-15 21:16] #124 closed, assigned to mjstn

[2021-12-15 21:18] mjstn commented on #123
Closing this as it is in kinetic-devel and noetic-devel at this time.

[2021-12-15 21:18] #123 closed, assigned to mjstn

[2021-12-16 13:08] MoffKalast commented on #150
Good to know, thanks for the update 👍

[2022-01-04 20:00] mjstn commented on #161
We now know how to access and make changes to make this happen.  Not sure if it is actually done yet.

[2022-01-04 20:11] mjstn commented on #154
The best comments on debug of this were from issue 95 Below is the good comment from #95

We have a semi-rare intermittent bug where ubiquity_motor starts an instance of motor_serial near line 90 in motor_hardware.cc.

We have seen that sometimes after many starts from cold power off we get wheels dont work.

Symptoms:

ROS topic /diagnostics will not be publishing items for 'Firmware Version' or

[2022-01-11 17:17] MoffKalast commented on #154
Perhaps as a current workaround we could have the system autoreboot once it finds a REJECT message, in that case the user would think the startup just took longer and it would no longer be a major issue.

After all that's the only thing one can really do to fix it if it happens, so might as well save people the time and headache of figuring it out.

[2022-01-11 19:34] MoffKalast commented on #161
Hey @mjstn you should have sftp access for this now right?

[2022-01-14 20:52] mjstn commented on #154
Here is a current case where it is happening  a high percentage of bootups at Calix.  Contact is Eric Leal
This is from a failure and it shows a 4 second delay then serial init then immedicate massive REJECT  in log (the signature)

**1642181235.382000035** INFO [/home/ubuntu/catkin_ws/src/ubiquity_motor/src/motor_hardware.cc:136(MotorHardware) [topics: /rosout, /diagnostics] **Delay before MCB se

[2022-01-14 20:58] mjstn commented on #154
Here is a working case (as far as baud rate goes)

**1642182252.726320665** INFO [/home/ubuntu/catkin_ws/src/ubiquity_motor/src/motor_hardware.cc:136(MotorHardware) [topics: /rosout, /diagnostics] **Delay before MCB serial port initialization**
1642182253.265739917 INFO [spawner:116(main) [topics: /rosout] Controller Spawner: Waiting for service controller_manager/load_controller
1642182253.838459

[2022-01-14 21:11] mjstn commented on #154
A key clue is the delay hack in **motor_hardware.cc near line 136**.   We need to again put effort into getting this to happen, perhaps by delay removal or use of other values like 1 or 2 sec and so on.   We need a way to aggrivate this then fix root cause.

// Insert a delay prior to serial port setup to avoid a race defect.
// We see soemtimes the OS sets the port to 115200 baud just after we se

[2022-01-15 06:22] mjstn commented on #154
Adding branch addSerialErrorManagement
This minimizes the massive log spamming from the baud rate bug while adding a couple error count readers for serial class and allows clearing of error counters if desired.

[2022-01-15 06:23] mjstn commented on #154
Adding Vid not really as owner but so he can better track this issue

[2022-01-15 07:04] mjstn commented on #154
Desparate Thought:   Do things to set default bauds all to 38400 whereever possible
how about in /boot/config.txt  uncomment and set baud to 38400

Darn formatting is preventing full text so this line gets uncommented like below
init_uart_baud=38400

[2022-01-15 20:37] mjstn commented on #154
Now working on and adding serial port re-initialize ability in branch addSerialErrorManagement
This is enabled when motor_control.cc has non-zero REINIT_MCB_SERIAL_REJECT_COUNT

[2022-01-16 09:20] mjstn commented on #154
I am unable to get the failure after 20 tries.  I have asked the customer to do the /boot/config.txt mod as it seems very safe and the customer gets this failure frequently.

[2022-02-10 11:12] JanezCim commented on #154
as requested in https://github.com/UbiquityRobotics/robot_testing/issues/18#issuecomment-1034137361 ive set
init_uart_baud=38400 for all UR images. Do you need the image with this fox uploaded for testing? If yes, please tell if if you need base or dev image (dev has desktop manager)

[2022-02-14 20:07] #154 closed, assigned to mjstn, MoffKalast

[2022-02-17 10:38] JanezCim opened #163 "Noetc README small fix suggestion"
it says in noetic branch on readme:

`sudo apt-get install ros-kinetic-ubiquity-motor`

can i suggest:

`sudo apt-get install ros-$ROS_DISTRO-ubiquity-motor`

[2022-02-18 06:45] mjstn opened #164 "When deadman timer kicks in the motor node needs to ramp down, not just hard stop"
Hard stop due to deadman timer can and has been toppling robots in the field for deadman timer stops.

This is not an MCB issue and should be dealt with where logic for such things is above the raw MCB motor control.

This may mean the MCB deadman is set a bit longer then the motor node ramps in slowdown at the currently stated deadman timer interval.

[2022-03-03 09:35] JanezCim commented on #149
Just for future reference: Some work has been done on this on https://github.com/UbiquityRobotics/ubiquity_motor/pull/152 but was stopped. As far as i remember @rohbotics has said that this would be a bigger project including huge changes in `upgrade_firmware.py` since changes from py2 to py3 were big.

[2022-03-13 07:31] mjstn opened #166 "When motor power starts off we indicate it is on on the motor_power_active topic till a change"
It is currently unclear if this is a bug in firmware or motor_hardware.cc

Re-create:  Start up the robot with motor power disabled.
Result is topic motor_power_active indicates True only a couple publications after initially when it publishes False

This was seen with v43 firmware and may be a v43 bug but this issue is here till that is decided.

[2022-03-14 13:10] JanezCim opened #167 "upgrade_firmware.py syntax error"
Not entirely unexpected, the over the web MCB firmware upgrade fails in a string error (likely yet another phthon thang)   Here is the failure:
[code]

_Originally posted by @mjstn in https://github.com/UbiquityRobotics/robot_testing/issues/27#issuecomment-1065961144_

[2022-03-14 14:19] JanezCim commented on #167
Trying to solve in 6086adb0909ddde8a574fa93384201e983de829a but currently i got 500 server error:
[code]

[2022-03-14 14:32] JanezCim commented on #167
I've also tried this with the unchanged code from kinetic-devel but on focal OS with python2 installed and got the same error. Could this be a server side error @rohbotics ?

[2022-03-14 19:28] anfederman commented on #167
HMM... I saw the same thing, and thought it was a python thing.  I used a
kinetic image to upgrade to firmware 40, but did locally. When I tried oon
Noetic I got the sting/error/server I don't recall if I got a token.

On Mon, Mar 14, 2022 at 7:32 AM Janez Cimerman ***@***.***>
wrote:

[2022-03-17 17:21] JanezCim commented on #167
`500 Internal Server Error` resolved with resolving the https://github.com/UbiquityRobotics/ubiquity_buildbot/issues/9

[2022-03-19 11:07] #167 closed, assigned to JanezCim

[2022-04-09 20:00] anfederman opened #170 "In internal docs we need instructions to bulid in catkin"
Since binaries for ARM 64 don't exist, we need docs to add in catkin. Especially usb setup.

[2022-04-19 14:57] MoffKalast opened #171 "Firmware_and_Hardware_Revisions.md moving to Learn"
I'm not sure if you want to have the [Firmware_and_Hardware_Revisions](https://github.com/UbiquityRobotics/ubiquity_motor/blob/kinetic-devel/Firmware_and_Hardware_Revisions.md) specifically here in the motor repo to keep it more easily up to date, but I think it would make sense to move it to the new learn wiki.

[2022-05-10 12:09] JanezCim commented on #128
I think this was solved, so closing

[2022-05-10 12:09] #128 closed, assigned to mjstn

[2022-05-18 10:48] MoffKalast commented on #171
Note: The pages are now live, so the actual page that should be edited is this one: ~~https://learn.ubiquityrobotics.com/noetic_magnisilver_mcb_revisions~~

There is the slight issue that we have a kinetic/noetic split for this page which makes it harder to maintain for no reason, so it might make sense to move it to a rosdistro agnostic page, given that it's hidden from nav and it won't affect an

[2022-05-18 11:03] MoffKalast commented on #171
Okay I just went ahead and moved it, the definitive new file is now at:  https://github.com/UbiquityRobotics/learn/blob/master/unlisted_pages/magnisilver_mcb_revisions.md

And can be found on the wiki at: https://learn.ubiquityrobotics.com/magnisilver_mcb_revisions

Only that one file needs to be edited, and will appear in both noetic and kinetic views.